<h1>DETALE ARTYKUŁU</h1>
{% if result %}
<ul>
    {% for choice in result %}
    <li>{{ choice.choice_text }}</li>
    {% endfor %}
</ul>
{% else %}
<p>No details are available.........</p>
{% endif %}