<h1>WYKAZ ARTYKUŁÓW NA BLOGU:</h1>
{% if latest_poll_list %}
<ul>
    {% for article in latest_poll_list %}
    <li>{{ article.tittle}}<br>{{ article.content }}</li>
    <br>
    {% endfor %}
</ul>
<h3>Dane do panelu administracyjnego:</h3>
        Link: <a href="http://194.29.175.240:31001/admin/">Panel Administracyjny</a><br>
        Login: p1<br>
        Hasło: p1<br>
{% else %}
<p>No polls are available.</p>
{% endif %}